@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   

    <h1 class="prn-labels">Sistema Nacional de Atendimento Socioeducativo</h1>
    <p align="justify" class="lead">
        O sistema socioeducativo é uma estrutura organizada e institucionalizada que tem como objetivo promover a ressocialização
        e reintegração de jovens em conflito com a lei. Ele visa oferecer medidas socioeducativas como alternativa à privação de liberdade, proporcionando aos adolescentes a oportunidade de refletir sobre seus atos, adquirir novos conhecimentos e habilidades, e se reintegrar positivamente à sociedade..
    </p>
    <p><a href="https://www.gov.br/mdh/pt-br/navegue-por-temas/crianca-e-adolescente/acoes-e-programas/atendimento-socioeducativo#:~:text=O%20Sistema%20Nacional%20de%20Atendimento,pela%20pr%C3%A1tica%20de%20ato%20infracional." target="_blank" class="btn btn-primary btn-lg prn-btn">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2  class="prn-labels">Caráter <br />pedagógico</h2>
        <p align="justify">
            O sistema socioeducativo é baseado em uma abordagem educativa e pedagógica, buscando o desenvolvimento integral dos adolescentes.
            Ele oferece atividades educacionais, profissionalizantes, culturais e esportivas, visando estimular o aprendizado,
            a capacitação e o desenvolvimento de habilidades que contribuam para a formação dos jovens.
        </p>

    </div>
    <div class="col-md-4">
        <h2 class="prn-labels">Individualização do atendimento</h2>
        <p align="justify">O sistema socioeducativo procura adotar uma abordagem individualizada, levando em consideração as características, necessidades e circunstâncias específicas de cada adolescente. Isso significa que as intervenções e programas são adaptados de acordo com as particularidades de cada jovem,
         com o objetivo de promover uma transformação pessoal e social efetiva.</p>
    
    </div>
    <div class="col-md-4">
        <h2 class="prn-labels">Enfoque na ressocialização</h2>
        <p> Uma das principais características do sistema socioeducativo é seu foco na ressocialização dos adolescentes. O objetivo central é proporcionar
           meios para que os jovens compreendam a gravidade de seus atos, assumam responsabilidades por eles e desenvolvam habilidades para se reintegrar 
        positivamente à sociedade. Isso envolve o estímulo ao senso de cidadania, o fortalecimento dos laços familiares, a inserção em atividades produtivas e a promoção da consciência sobre direitos e deveres.</p>
     
    </div>
</div>